iot/esp32/lab-json-pub/ESP32_MQTT_DualDevice_NodeRED.json
[
  {
    "id": "tab_dual_dev",
    "type": "tab",
    "label": "ESP32 MQTT Dual-Device Dashboard",
    "disabled": false,
    "info": "Dashboard for two ESP32 devices publishing JSON to esp32/sensor_data"
  },
  {
    "id": "broker_hivemq",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "nodered-esp32-dual",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "ESP32 MQTT Dashboard",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "grp_a1_gauges",
    "type": "ui_group",
    "name": "A1 Gauges",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp_a1_charts",
    "type": "ui_group",
    "name": "A1 Charts",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp_b2_gauges",
    "type": "ui_group",
    "name": "B2 Gauges",
    "tab": "ui_tab_main",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp_b2_charts",
    "type": "ui_group",
    "name": "B2 Charts",
    "tab": "ui_tab_main",
    "order": 4,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "grp_status",
    "type": "ui_group",
    "name": "Status",
    "tab": "ui_tab_main",
    "order": 5,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqtt_in_main",
    "type": "mqtt in",
    "z": "tab_dual_dev",
    "name": "MQTT In: esp32/sensor_data",
    "topic": "esp32/sensor_data",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker_hivemq",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 190,
    "y": 100,
    "wires": [
      [
        "json_parse",
        "dbg_raw"
      ]
    ]
  },
  {
    "id": "dbg_raw",
    "type": "debug",
    "z": "tab_dual_dev",
    "name": "Raw MQTT payload",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 430,
    "y": 160,
    "wires": []
  },
  {
    "id": "json_parse",
    "type": "json",
    "z": "tab_dual_dev",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 420,
    "y": 100,
    "wires": [
      [
        "fn_enrich"
      ]
    ]
  },
  {
    "id": "fn_enrich",
    "type": "function",
    "z": "tab_dual_dev",
    "name": "Validate & Enrich",
    "func": "// Expect: { temperature_c, ldr_raw, device_id }\nconst p = msg.payload || {};\nconst out = {};\nout.device_id = p.device_id || \"ESP32_A1\";\n\n// normalize\nconst ldr = Number(p.ldr_raw);\nlet t = p.temperature_c;\nlet tnum = (typeof t === 'number') ? t : Number(t);\nif (!Number.isFinite(tnum)) tnum = NaN;\n\nout.ldr_raw = Number.isFinite(ldr) ? ldr : NaN;\nout.temperature_c = tnum;\nout.timestamp = new Date().toISOString();\nout.status = (Number.isFinite(out.ldr_raw) && Number.isFinite(out.temperature_c)) ? \"ok\" : \"error\";\n\nmsg.payload = out;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 100,
    "wires": [
      [
        "sw_by_device",
        "ui_status_text",
        "dbg_parsed"
      ]
    ]
  },
  {
    "id": "dbg_parsed",
    "type": "debug",
    "z": "tab_dual_dev",
    "name": "Parsed payload",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 890,
    "y": 60,
    "wires": []
  },
  {
    "id": "ui_status_text",
    "type": "ui_text",
    "z": "tab_dual_dev",
    "group": "grp_status",
    "order": 1,
    "width": 12,
    "height": 1,
    "name": "Status Line",
    "label": "Status",
    "format": "{{payload.device_id}} \u2014 {{payload.status}} \u2014 {{payload.timestamp}}",
    "layout": "row-spread",
    "x": 910,
    "y": 140,
    "wires": []
  },
  {
    "id": "sw_by_device",
    "type": "switch",
    "z": "tab_dual_dev",
    "name": "Route by device_id",
    "property": "payload.device_id",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "ESP32_A1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "ESP32_B2",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 900,
    "y": 100,
    "wires": [
      [
        "a1_temp_sw",
        "a1_ldr_sw"
      ],
      [
        "b2_temp_sw",
        "b2_ldr_sw"
      ],
      [
        "ui_unknown_text"
      ]
    ]
  },
  {
    "id": "ui_unknown_text",
    "type": "ui_text",
    "z": "tab_dual_dev",
    "group": "grp_status",
    "order": 2,
    "width": 12,
    "height": 1,
    "name": "Unknown Device",
    "label": "Unknown device",
    "format": "{{payload.device_id}}",
    "layout": "row-spread",
    "x": 1160,
    "y": 160,
    "wires": []
  },
  {
    "id": "a1_temp_sw",
    "type": "switch",
    "z": "tab_dual_dev",
    "name": "A1 temp is number",
    "property": "payload.temperature_c",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1160,
    "y": 60,
    "wires": [
      [
        "a1_temp_gauge_prep",
        "a1_temp_chart_prep"
      ]
    ]
  },
  {
    "id": "a1_ldr_sw",
    "type": "switch",
    "z": "tab_dual_dev",
    "name": "A1 ldr is number",
    "property": "payload.ldr_raw",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1150,
    "y": 100,
    "wires": [
      [
        "a1_ldr_gauge_prep",
        "a1_ldr_chart_prep"
      ]
    ]
  },
  {
    "id": "b2_temp_sw",
    "type": "switch",
    "z": "tab_dual_dev",
    "name": "B2 temp is number",
    "property": "payload.temperature_c",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1160,
    "y": 220,
    "wires": [
      [
        "b2_temp_gauge_prep",
        "b2_temp_chart_prep"
      ]
    ]
  },
  {
    "id": "b2_ldr_sw",
    "type": "switch",
    "z": "tab_dual_dev",
    "name": "B2 ldr is number",
    "property": "payload.ldr_raw",
    "propertyType": "msg",
    "rules": [
      {
        "t": "istype",
        "v": "number",
        "vt": "number"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 1150,
    "y": 260,
    "wires": [
      [
        "b2_ldr_gauge_prep",
        "b2_ldr_chart_prep"
      ]
    ]
  },
  {
    "id": "a1_temp_gauge_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "A1 gauge temp",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temperature_c",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 40,
    "wires": [
      [
        "ui_a1_temp_gauge"
      ]
    ]
  },
  {
    "id": "a1_temp_chart_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "A1 chart temp",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "ESP32_A1.temperature_c",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temperature_c",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 80,
    "wires": [
      [
        "ui_a1_temp_chart"
      ]
    ]
  },
  {
    "id": "a1_ldr_gauge_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "A1 gauge ldr",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.ldr_raw",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 120,
    "wires": [
      [
        "ui_a1_ldr_gauge"
      ]
    ]
  },
  {
    "id": "a1_ldr_chart_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "A1 chart ldr",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "ESP32_A1.ldr_raw",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.ldr_raw",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 160,
    "wires": [
      [
        "ui_a1_ldr_chart"
      ]
    ]
  },
  {
    "id": "b2_temp_gauge_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "B2 gauge temp",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temperature_c",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 200,
    "wires": [
      [
        "ui_b2_temp_gauge"
      ]
    ]
  },
  {
    "id": "b2_temp_chart_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "B2 chart temp",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "ESP32_B2.temperature_c",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.temperature_c",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 240,
    "wires": [
      [
        "ui_b2_temp_chart"
      ]
    ]
  },
  {
    "id": "b2_ldr_gauge_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "B2 gauge ldr",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.ldr_raw",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 280,
    "wires": [
      [
        "ui_b2_ldr_gauge"
      ]
    ]
  },
  {
    "id": "b2_ldr_chart_prep",
    "type": "change",
    "z": "tab_dual_dev",
    "name": "B2 chart ldr",
    "rules": [
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "ESP32_B2.ldr_raw",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload.ldr_raw",
        "tot": "msg"
      }
    ],
    "x": 1380,
    "y": 320,
    "wires": [
      [
        "ui_b2_ldr_chart"
      ]
    ]
  },
  {
    "id": "ui_a1_temp_gauge",
    "type": "ui_gauge",
    "z": "tab_dual_dev",
    "name": "A1 Temp (\u00b0C)",
    "group": "grp_a1_gauges",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "A1 Temp (\u00b0C)",
    "label": "\u00b0C",
    "format": "{{value}}",
    "min": "0",
    "max": "60",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ]
  },
  {
    "id": "ui_a1_ldr_gauge",
    "type": "ui_gauge",
    "z": "tab_dual_dev",
    "name": "A1 LDR",
    "group": "grp_a1_gauges",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "A1 LDR (raw)",
    "label": "ADC",
    "format": "{{value}}",
    "min": "0",
    "max": "4095",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ]
  },
  {
    "id": "ui_a1_temp_chart",
    "type": "ui_chart",
    "z": "tab_dual_dev",
    "name": "A1 Temp Chart",
    "group": "grp_a1_charts",
    "order": 1,
    "width": 12,
    "height": 5,
    "label": "A1 Temperature (\u00b0C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "removeOlder": 12,
    "removeOlderUnit": "60",
    "useOneColor": false,
    "useUTC": false
  },
  {
    "id": "ui_a1_ldr_chart",
    "type": "ui_chart",
    "z": "tab_dual_dev",
    "name": "A1 LDR Chart",
    "group": "grp_a1_charts",
    "order": 2,
    "width": 12,
    "height": 5,
    "label": "A1 LDR (raw)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "removeOlder": 12,
    "removeOlderUnit": "60",
    "useOneColor": false,
    "useUTC": false
  },
  {
    "id": "ui_b2_temp_gauge",
    "type": "ui_gauge",
    "z": "tab_dual_dev",
    "name": "B2 Temp (\u00b0C)",
    "group": "grp_b2_gauges",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "B2 Temp (\u00b0C)",
    "label": "\u00b0C",
    "format": "{{value}}",
    "min": "0",
    "max": "60",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ]
  },
  {
    "id": "ui_b2_ldr_gauge",
    "type": "ui_gauge",
    "z": "tab_dual_dev",
    "name": "B2 LDR",
    "group": "grp_b2_gauges",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "B2 LDR (raw)",
    "label": "ADC",
    "format": "{{value}}",
    "min": "0",
    "max": "4095",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ]
  },
  {
    "id": "ui_b2_temp_chart",
    "type": "ui_chart",
    "z": "tab_dual_dev",
    "name": "B2 Temp Chart",
    "group": "grp_b2_charts",
    "order": 1,
    "width": 12,
    "height": 5,
    "label": "B2 Temperature (\u00b0C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "removeOlder": 12,
    "removeOlderUnit": "60",
    "useOneColor": false,
    "useUTC": false
  },
  {
    "id": "ui_b2_ldr_chart",
    "type": "ui_chart",
    "z": "tab_dual_dev",
    "name": "B2 LDR Chart",
    "group": "grp_b2_charts",
    "order": 2,
    "width": 12,
    "height": 5,
    "label": "B2 LDR (raw)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "removeOlder": 12,
    "removeOlderUnit": "60",
    "useOneColor": false,
    "useUTC": false
  }
]